@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap&subset=cyrillic-ext,cyrillic');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://tailwindcss.com/blog/standalone-cli
    ./tailwindcss -i css/input.css -o css/output.css --watch
    ./tailwindcss -i css/input.css -o css/output.css --minify 
*/

@layer base {

    /* === CURSOR === */
    body {
        cursor: url("https://cdn.custom-cursor.com/db/pointer/32/Florist_Pointer.png"), pointer !important;
        @apply dark:bg-neutral-800 bg-neutral-100 h-screen overflow-hidden;
    }
    a, input[type="submit"], button {
        cursor: url("https://cdn.custom-cursor.com/db/cursor/32/Florist_Cursor.png"), default !important;        
    }

    /* === FONT === */
    p, h1, h2, a, button, input[type="submit"] {
        font-family: "Montserrat", sans-serif;
        @apply dark:text-neutral-100 text-neutral-800;
    }

    h1 {
        @apply text-6xl font-bold mb-10;
    }

    h2 {
        @apply text-4xl font-bold mb-10;
    }

    p {
        @apply text-xl sm:text-2xl;
    }
    /* ------------ */

    main {
        @apply h-full flex flex-col;
    }

    /* === BACKGROUND === */
    .background {
        @apply absolute inset-0 opacity-0 -z-10
        animate-[fadeIn_1.5s_forwards] bg-cover bg-no-repeat bg-center
        dark:bg-[url('../assets/back_dark.webp')] bg-[url('../assets/back_light.webp')]
    }
    @keyframes fadeIn {
        to {
            opacity: 0.25;
        }
    }
}

@layer components {
    textarea {
        cursor: url("https://cdn.custom-cursor.com/db/14892/32/cute-bread-cats-cursor.png") , default !important;
        font-family: "Bad Script", cursive;
        background: rgba(252, 141, 62, 0.25);
        backdrop-filter: blur(20px);
        @apply 
            resize-none
            text-4xl leading-relaxed 
            p-5 mb-5 rounded-lg
            dark:text-neutral-100 text-neutral-800
            border-orange-300 border-2 border-solid
    }

    /* ===== orange elements ===== */
    input[type="submit"], .home, .menu a, .category a {
        background: rgba(252, 141, 62, 0.25);
        backdrop-filter: blur( 10px );
        @apply  border-orange-300 border-2 border-solid
        hover:bg-gradient-to-r from-orange-300 to-orange-500;
    }

    /* === BUTTON STYLE === */
    input[type="submit"] {
        @apply px-5 py-3 rounded-lg;
    }

    /* === HOME BUTTON === */
    .home {
        @apply absolute top-4 left-4 p-3 rounded-full;
    }
    .home img {
        @apply w-12 invert-0 dark:invert;
    }

    /* === SHADOW === */
    a, textarea, input[type="submit"] {
        @apply shadow-zinc-500 dark:shadow-zinc-950 shadow-md transition-all ease-in duration-200;
    }
    /* ------------ */

    
    /* === MAIN MENU === */
    .menu {
        @apply grid grid-cols-2 grid-rows-3 gap-1 sm:gap-6;
    }
    .menu a {
        @apply rounded-lg font-bold transition-all duration-500 ease-in-out;  
    }
    .links a {
        @apply p-3 sm:p-4 w-28 grid place-items-center;
    }
    .links a>img {
        @apply mb-2 w-10 sm:w-12 rounded-full;
    }
    .menu>a {
        @apply p-3 sm:p-8 text-center;
    }


    /* === PORTFOLIO === */
    .category {
        background: rgba(163, 163, 163, 0.25);
        backdrop-filter: blur( 10px );
        @apply p-6 mt-2 h-[5.5rem] overflow-scroll hover:animate-[resize_0.7s_ease-out_forwards]
        border-neutral-400 border-2 border-solid rounded-lg
        hover:bg-gradient-to-r from-neutral-400 hover:absolute hover:left-[2vw] hover:z-10 ;
    }
    @keyframes resize {
        to {
            height: 50%;
            width: 96vw;
        }
    }

    .project {
        @apply inline-block p-4 m-2 rounded-lg font-bold text-xl max-w-[95%];
    }
    .project div {
        @apply mt-2
    }
    .project div span {
        @apply mr-1 py-1 px-2 rounded-md font-normal text-sm border-[1px] 
        border-blue-400 border-solid font-mono bg-blue-500
    }

    .date {
        @apply absolute right-0 top-0 font-thin text-xs font-mono py-1 px-2
    }

}